<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>Công ty cổ phần IMED</title>
<meta name="Keywords" content="" /> 
<meta name="Description" content="" />
<meta name="distribution" content="Global" />
<meta name="revisit-after" content="1 days" />
<meta name="copyright" content="hoiquankinhte.com" />

<meta name="robots" content="FOLLOW,INDEX" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<!-- // Stylesheets // -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- // Javascript/jQuery // -->

<style type="text/css">
	h2	{clear:both;padding-top:20px;}
	ul {list-style:none;margin:0;padding:0;}
	/*
	li {width:100px;margin:0;padding:0;text-align:center;}
	li a {display:block;padding:5px 10px;height:100%;color:#FFF;text-decoration:none;border-right:1px solid #FFF;}
	li a {background:url(bg2.jpg) repeat 0 0;}*/
	li a:hover, li a:focus, li a:active {background-position:-150px 0;}
	#a a {background:url(images/bg.png) repeat 0px 50px; }	
</style>

<script type="text/javascript" src="js/jquery-1.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>

<script type="text/javascript">

$(function(){
	$('#a a')
		.css( {backgroundPosition: "0px 70px"} )
		.mouseover(function(){
			$(this).stop().animate({backgroundPosition:"(0px 150px)", paddingLeft  : '5px'}, {duration:400})	
				
		})
		.mouseout(function(){
			$(this).stop().animate({backgroundPosition:"(0px 70px)", paddingLeft  : '0px'}, {duration:400, complete:function(){
				$(this).css({backgroundPosition: "0px 70px"})				
			}})			
		})	
	
});

function  hover(opt) {	
  //if (opt==1)
	//$('#slide_left').stop().animate({'left':'-220px'})	
  //else
  	//$('#slide_right').stop().animate({'right':'-220px'})
}

function out(opt) {
	//if (opt==1)
		//$('#slide_left').stop().animate({'left':'50px'})
	//else
		//$('#slide_right').stop().animate({'right':'50px'})
	
}
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<div id="wrapper">
    <div id="slide_left" style="position:absolute; left:50px; top:45px; border:1px solid #ccc; width:230px; min-height:240px; background:#fff; z-index:-100; padding:10px; ">
    <h4> Hội quán kinh tế </h4> <img src="images/pk.jpg" style="float:left; margin:5px;" />Ngày nay, cùng với sự phát triển nhanh của nền kinh tế Việt nam nói chung và ngành dịch vụ du lịch nói riêng, đời sống kinh tế xã hội tăng cao, nhu cầu sử dụng, thưởng thức các dịch vụ ẩm thực cũng gia tăng. </div>
    <div id="slide_right" style="position:absolute; right:50px; top:45px; border:1px solid #ccc; width:250px; min-height:260px; background:#fff; z-index:-100    "></div>
  <div id="top"><!-- --></div>
        
        <div id="card">
        	<div style="text-align:center;"><img src="images/name.png" /></div>
            <div id="card-in" class="corners">
            <h1 style="display:none;"><!-- important tag line here --></h1>            
                
                <div style="position: relative; overflow: hidden;" id="content">
 					
                    
                  <!-- social --> 
                  <div style="display: block; z-index: 4; opacity: 1;" class="box">                                          
                            <ul id="a">
                            <li>                                                
                                <a style="opacity: 0.937528;" href="http://www.hoiquankinhte.com/hoiquan" target="_blank"  class="social-box-left" onmouseover="hover(1);" onmouseout="out(1);">
                                    <img style="margin-left: 4px;" src="images/myspace_32.png" alt="" />
                                    <strong>Hội quán kinh tế</strong>
                                    www.hoiquankinhte.com/hoiquan
                                </a>
                            </li>
                            <li>                                                
                                <a style="opacity: 1;" href="http://www.tens.vn"  class="social-box-right" target="_blank" onmouseover="hover(2);" onmouseout="out(2);" >
                                    <img style="margin-left: 4.17736px;" src="images/school.png" alt="" />
									<strong>Luyện thi cao học</strong>
                                    www.tens.vn
                                    
                                </a>
                            </li>
							
                            <li>                                                
                                <a style="opacity: 0.940102;" href="http://forum.tens.vn/"  target="_blank" class="social-box-left" onmouseover="hover(1);" onmouseout="out(1);">
                                    <img src="images/forum.png" alt="" />
                                    <strong>Diễn đàn thảo luận</strong>
                                    www.forum.tens.vn
                                </a>

                            </li>
							
                            <li>                                                
                                <a style="opacity: 0.937528;" href="http://www.tuyensinhsaudaihoc.com/"  class="social-box-right" onmouseover="hover(2);" target="_blank" onmouseout="out(2);">
                                    <img style="margin-left: 4px;" src="images/info.png" alt="" />
                                    <strong>Tuyển sinh sau đại học</strong>
                                    www.tuyensinhsaudaihoc.com
                                </a>
                            </li>
                            <li>                                                
                                <a style="opacity: 0.937528;" href="http://www.luyenthitoeic.vn/"  target="_blank" class="social-box-left" onmouseover="hover(1);" onmouseout="out(1);">
                                    <img style="margin-left: 4px;" src="images/digg_32.png" alt="" />
                                    <strong>Luyện thi toeic</strong>
                                    www.luyenthitoeic.vn
                                </a>
                            </li>
                            <li>                                                
                                <a style="opacity: 0.937528;" href="http://www.tens.vn/nganhangdethi" target="_blank" class="social-box-right" onmouseover="hover(2);" onmouseout="out(2);">
                                    <img style="margin-left: 4px;" src="images/dethi.png" alt="" />
                                    <strong>Ngân hàng đề thì</strong>
                                    www.tens.vn/nganhangdethi
                                </a>
                            </li>
                            <li>                                                
                                <a style="opacity: 0.937528;" href="#" class="social-box-left" target="_blank" onmouseover="hover(1);" onmouseout="out(1);">
                                    <img style="margin-left: 4px;" src="images/tuyendung.png" alt="" />
                                    <strong>Tuyển dụng</strong>
                                    Việc làm cao cấp
                                </a>
                            </li>
                            <li>                                                
                                <a style="opacity: 0.937528;" href="#" class="social-box-right" onmouseover="hover(2);" target="_blank" onmouseout="out(2);">
                                    <img style="margin-left: 4px;" src="images/digg_32.png" alt="" />
                                    <strong>Thiết kế website</strong>
                                    Thiết kế chuyên nghiệp
                                </a>
                            </li>
							
							
                    </ul></div> 

<div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 2;" class="box3">
							
                    </div>	

<div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 1;" class="box5">

<div id="stylesheetTest"></div>

                    </div>					
                </div>
            </div>
        </div><!--/ end card -->
              
        <div id="bottom"><!-- --></div>
		<div style="clear:both"></div>
        
          
		
</div>
</body></html>