@charset "utf-8";
/* CSS Document */
body {
	margin:0px;
	padding:0px;
	font-family:'Tahoma';
	font-size:11px;
	line-height:16px;
}
li{list-style-type:none;}
.left{float:left}
.right{float:right}
img{border:0px}
a:link, a:visited, a:active{
	text-decoration:none;
	outline:none;
}
#ionetaskbar_top a:hover{text-decoration:underline;}
a.outline-dotted:focus, a.outline-dotted.outline-dotted-focus {
	outline:#333 dotted 1px;
}
.clearfix:after{
	content:'[DO NOT LEAVE IT IS NOT REAL]'; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}
.clearfix{
	display:inline;
}
.clearfix{
	display:block;
}
.clear{
	clear:both;
}
#ionetaskbar_top {
    width: 100%;
  
    position:fixed;
    top:0px;
    left:0px;
	z-index:9999;
    font-family: Tahoma;
    font-size: 11px;
}
*html, body{
    height:100%;
    width:100%;
}
*html body{
	overflow:hidden;
	width:100%;
}
#wrapper-container{
	width:100%;
	padding:26px 0 0 0;
}
*html #wrapper-container{
    height:100%;
	overflow:auto;
	position:relative;
}
#main_top{
	width:980px;
	margin:0 auto;
}
#top_page{
	background:url(images/graphics/bg_top_site.gif) repeat-x left top;
	width:100%;
	_width:auto;
	height:26px;
	position:relative;
}
#main_top .left li{
	float:left;
	line-height:26px;
	color:#c6d1dc;
	background:url(images/graphics/drash_1x11.gif) no-repeat left 9px;
}
.mynaviga li.start{
	background:url(images/graphics/drash_1x11.gif) no-repeat left 9px;	
}
#main_top .left li.start{
	background:none;
}
#main_top .left li a{
	padding:0 10px;
	line-height:26px;
	display:block;
	height:26px;
	float:left;
	color:#333333;
}
#main_top .left li a:hover{
	background:#e8ebee;
	text-decoration:none;
	height:25px;
	margin:1px 0 0 0;
	line-height:25px;
}
#main_top .left li.start.more a{
	padding-left:10px;
}
#main_top .left li.active a{
	font:700 11px/26px tahoma;
	background:url(images/graphics/bullet01.gif) repeat-x  left -2px;
}
#main_top .left li.active a:hover{
	height:26px;
	line-height:26px;
	margin:0;
}
#main_top .left li .arrow{
	background:url(images/graphics/arrow-bottom.gif) no-repeat left 2px;
}
#main_top .left li.more{
	position:relative;
}
*html #main_top .left li.more #hasmore{
	padding-top:7px!important;
	height:18px!important;
}
#main_top .left #hasmore{
	display:block;
	height:25px;
	margin-left:2px;
	margin-top:1px;
	position:relative;
	z-index:99999;
	line-height:25px;
	
}
#main_top .left #hasmore.over{
	border-right:1px solid #719cc1;
	border-left:1px solid #719cc1;
	background:#fff;padding:0 9px;
}
#main_top .left #subtop{
	width:101px;
	display:block;
	position:absolute;
	z-index:9999;
	top:25px;
	border:1px solid #719cc1;
	background:#fff;
	left:2px;
	display:none;
	position:absolute;
	left:2px;
	top:25px;
}
*html #main_top .left #subtop{
	left:4px;
}
#main_top .left #subtop .content_subtop a{
	width:81px;
	float:left;
	display:block;
}
#main_top .left #subtop .content_subtop{
	position:relative;
	z-index:999999;
}
#main_top .left #subtop a:hover{
	color:#014c8f;
}
.nav-right {
	padding-left:6px;
}
.nav-right ul {
	margin:0px;
	padding-left:0px;
	list-style-type:none;
}
.nav-right ul li {
	margin:0px;
	float:left;
	font-weight:bold;
}
.nav-right ul li.tk,
.nav-right ul li.tq,
.nav-right ul li.tw {
	position:relative;
	z-index:100;
}
.nav-right ul li a {
	display:block;
	line-height:16px;
	padding:4px 10px 5px 10px;
	color:#0069D1;
}
.nav-right ul li .photo-left-06{

	float:left;
	padding:0 5px 0 0;
}
.nav-right ul li.tk a {
	margin:1px 0px 0 0;
	line-height:14px;
}
.nav-right ul li a:hover {
	text-decoration:none;
	background:#e8ebee;
	padding:3px 10px 5px 10px;
	margin:1px 0 0 0;
}
.nav-right ul li.tk a:hover {
	margin-right:0px;
	padding:4px 10px 5px 10px;
}
.nav-right ul li.tk a.active,
.nav-right ul li.tq a.active,
.nav-right ul li.tw a.active {
	background:#f2f2f2;
	border:solid 1px #b7c5ce;
	border-bottom:none;
	color:#333;
	padding:4px 9px 7px 9px;
	margin-top:0px;
}
.nav-right ul li.tk ul li a:hover{
	margin:1px 0 0 0;
}
.nav-right .arrow-bottom {
	background:url(images/graphics/arrow-bottom.gif) no-repeat 0px 5px;
	padding-left:7px;
}
.nav-right ul ul {
	margin:0px;
	padding:10px;
	background-color:#fff;
	border:solid 1px #b7c5ce;
	border-top:none;
	position:absolute;
	width:150px;
	right:0;
	top:26px;
	z-index:9999;
	display:none;
}
.nav-right ul ul.tk{
	right:0px;
}
.nav-right ul li.tq ul{
	right:0px;
}
.nav-right ul ul.tw{
	right:0px;
}
.nav-right li li {
	width:150px;
	margin:0px;
	padding-bottom:7px;
	_padding-bottom:3px;
	*padding-bottom:3px;
	float:none 
	font-weight:normal;
	line-height:16px ;
	float:left;
	line-height:16px;
}
.nav-right li li a {
	padding:0px ;
	line-height:16px ;
}
.nav-right li li a:hover {
	background:none ;
	text-decoration:underline;
	line-height:16px ;
	margin:0;
}
.no_login li{
	float:left;
	line-height:26px;
	padding:0 10px;
	background:url(images/graphics/drash_1x11.gif) no-repeat left 9px;
}
.no_login li.start{
	
	background:none;
}
.no_login li.end{
	padding:0 0 0 10px;
}
.no_login li a{
	font:700 11px/26px tahoma;
	color:#0069D1;
}

.icon01.ico34 {
	background-position:-825px 1px;
	width:16px;
	padding-right:4px;
	padding-bottom:1px;
}
a.active .icon01.ico34, a:hover .icon01.ico34{
	background-position:-825px 1px;
}
.icon01{
	background:url(images/icons/icon01.gif) no-repeat;
}
.icon01.ico35 {
	background-position:-850px 3px;
	width:16px;
	padding-right:4px;
}
.icon01.ico35-02 {
	background-position:-850px 3px;
	width:16px;
	padding-right:4px;
}
.icon01.ico36 {
	background-position:-875px 1px;
	width:16px;
	padding-right:4px;
	padding-bottom:1px;
}
.icon01.ico37 {
	background-position:-900px 1px;
	width:16px;
	padding-right:4px;
	padding-bottom:1px;
}
.icon01.ico38 {
	background-position:-925px 2px;
	width:17px;
	padding-right:4px;
	padding-bottom:2px;
}
.icon01.ico68 {
	background-position:-1750px 1px;
	width:16px;
	padding-right:4px;
	padding-bottom:1px;
}
.icon01.ico70 {
	background-position:-1800px 1px;
	width:16px;
	padding-right:4px;
	padding-bottom:1px;
}
.icon01.ico71 {
	background-position:-1825px 1px;
	width:16px;
	padding-right:4px;
	padding-bottom:1px;
}
.icon01.ico72 {
	background-position:-1850px 1px;
	width:16px;
	padding-right:4px;
	padding-bottom:1px;
}
#main_top .nav-right .mynaviga {
    float: left;
}
#main_top .nav-right .mynaviga .tk li a {
    font: 400 11px/16px tahoma;
    margin: 0;
    padding: 0;
}